/* ---------------- */
.input-todo {
  display: flex;
  text-align: center;
}
.input-todo > input {
  width: 100%;
  padding: 10px;
}
.input-todo > button {
  border-radius: 0px;
}
.Todo-list {
  text-align: center;
}
