body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* utility */
.container {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.center{
  text-align: center !important;
}
.justify{
  text-align: justify !important;
}
.relative{
  position: relative;
}
.absolute{
  position: absolute;
}
.img-fluid{
  width: 100%;
}
.flex{
  display: flex;
  flex-wrap: wrap;
}
/* padding */
.p-1{
  padding: 1rem !important;
}